In [1]:
# 各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．
# 確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [2]:
import pandas as pd

In [4]:
df = pd.read_table('hightemp.txt', header=None)
df.head()

     0    1     2           3
0  高知県  江川崎  41.0  2013-08-12
1  埼玉県   熊谷  40.9  2007-08-16
2  岐阜県  多治見  40.9  2007-08-16
3  山形県   山形  40.8  1933-07-25
4  山梨県   甲府  40.7  2013-08-10

In [6]:
df_s = df.sort_values(2, ascending=False)
df_s

       0     1     2           3
0    高知県   江川崎  41.0  2013-08-12
2    岐阜県   多治見  40.9  2007-08-16
1    埼玉県    熊谷  40.9  2007-08-16
3    山形県    山形  40.8  1933-07-25
4    山梨県    甲府  40.7  2013-08-10
5   和歌山県  かつらぎ  40.6  1994-08-08
6    静岡県    天竜  40.6  1994-08-04
7    山梨県    勝沼  40.5  2013-08-10
8    埼玉県    越谷  40.4  2007-08-16
9    群馬県    館林  40.3  2007-08-16
10   群馬県   上里見  40.3  1998-07-04
11   愛知県    愛西  40.3  1994-08-05
14   愛媛県   宇和島  40.2  1927-07-22
12   千葉県    牛久  40.2  2004-07-20
13   静岡県   佐久間  40.2  2001-07-24
15   山形県    酒田  40.1  1978-08-03
16   岐阜県    美濃  40.0  2007-08-16
17   群馬県    前橋  40.0  2001-07-24
18   千葉県    茂原  39.9  2013-08-11
19   埼玉県    鳩山  39.9  1997-07-05
20   大阪府    豊中  39.9  1994-08-08
21   山梨県    大月  39.9  1990-07-19
22   山形県    鶴岡  39.9  1978-08-03
23   愛知県   名古屋  39.9  1942-08-02

In [8]:
!sort -k 3r,3 hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
静岡県	天竜	40.6	1994-08-04
和歌山県	かつらぎ	40.6	1994-08-08
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
愛知県	愛西	40.3	1994-08-05
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
千葉県	牛久	40.2	2004-07-20
愛媛県	宇和島	40.2	1927-07-22
静岡県	佐久間	40.2	2001-07-24
山形県	酒田	40.1	1978-08-03
群馬県	前橋	40	2001-07-24
岐阜県	美濃	40	2007-08-16
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
大阪府	豊中	39.9	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
千葉県	茂原	39.9	2013-08-11
愛知県	名古屋	39.9	1942-08-02